*,
*::before,
*::after {
  box-sizing: border-box;}

h1, h2, h2, p, ul{
margin: 0;
border: 0;
padding: 0;
font-size: 100%;
font:inherit;
}

body{
    font-family: 'Roboto', sans-serif, 'Raleway', sans-serif;
    color:#212121;
}

:root {
    --brand-color:#2196F3;
    --primary-color: #ffffff;
}
.container{
width: 100%;
max-width: 1200px;
padding: 0 15px;
margin:0 auto;
}
.section{
padding-top: 94px;
padding-bottom: 94px;
}

.headering{
background-color:var(--primary-color);
display:flex;
}

.logo{
text-decoration: none;
display: block;
width: 115px;
height: 31px;
margin:24px 93px 25px 0px;
}
.web{
font-family: 'Raleway', sans-serif;
font-size: 26px ;
font-weight: 700 ;
color: var(--brand-color);
line-height: 1.2;
letter-spacing: 0.03em;
text-align: left;
}

.studio{
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
text-align: left;
color:#000000;
}
.wrapper-1{
display:flex;
align-items: center;
justify-content: space-between;
}

.nav-list-1{
display:flex;
list-style: none;
gap: 46px;
}

.nav-list-2{
display:flex;
gap: 50px; 
margin-inline:371px 12px;
}

.studio-2{
font-family: 'Raleway', sans-serif;
color: var(--primary-color);
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
text-align: left;
}

.list {
list-style-type: none;

}

.navigation{
font-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;
text-decoration: none;
color:#212121
}

.navigation:hover, .navigation:focus, 
.kontakt:hover, .kontakt:focus{
color: var(--brand-color);
}

.kontakt{
font-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;
text-decoration: none;
color: #757575;
}

.theme{
background-color: #2F303A;
}

.theme-button{
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding:106px 200px 106px 200px;
gap:30px;
}

.theme-1{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
color: var(--primary-color);  
}

.button-1{
background-color: var(--brand-color);
display: block;
font-family: inherit;
height: 50px;
width: 200px;
border: 2px solid var(--brand-color);
color: var(--primary-color);
border-radius: 4px;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
cursor: pointer;
align-items: center;
text-align:center;
}

.invisible{
display:none;
}

.lorem1{
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
}

.lorem2{
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #757575;
}
.lorem-list{
display:flex;
align-items: center;
justify-content: space-between;
gap:30px;
}

.lorem-list-1{
padding-bottom:0px;
}
.part-1{
font-size: 36px;
line-height: 1.12;
text-align: center;
letter-spacing: 0.03em;
display:block;
margin-bottom: 50px;
}

.list-part-1{
display:flex;
align-items: center;
justify-content: space-between;
gap: 15px;
}

.wrapper-2{
background-color: #F5F4FA; 
height: 648px;
}

.list-part-2{
display:flex;
align-items: center;
justify-content: space-between;
gap: 30px;

}
.our-team{
padding-top:94px;
}

.pictures-3{
width:270px;
height:368px;
background-color: F5F4FA;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.name-position{
text-align: center;
}

.name{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.position-1{
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #757575;
}

.button-2{
background-color:#F5F4FA ;
font-family: inherit;
height: 38px;
width: 114;
border: 1px solid #F5F4FA;
font-family: inherit;
text-align: center;
border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
cursor: pointer;  
}

.button-list-2{
display: flex;
align-items: center;
justify-content: space-between;
margin-inline:375px;
}

.button-2:hover, .button-2:focus{
background-color: var(--brand-color);
color:var(--primary-color);
} 
.button-menu-list{
margin-top:6px;
padding-bottom:0px;
margin-bottom:56px;
}
.name-2{
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
text-align: left;
}

.position-2{
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
text-align: left;
}

.portfolio-section{
padding-top:0px;
}
.portfolio-list-1{
display: flex;
align-items:center;
justify-content: space-between;
flex-wrap: wrap;
flex-direction: row;
gap: 30px;
}

.picture-1{
flex-basis: calc((100%-60px)/3);
}

.portfolio-name-2{
border-bottom: 1px solid #EEEEEE;
border-left: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
padding-left: 24px;
}

.navigation-2{
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
text-decoration: none;
}
.city{
color:var(--primary-color);
padding-top:20px;
padding-bottom:9px;
}
.city-1 {
color:rgba(255, 255, 255, 0.6);
}
.city-1:hover, .city-1:focus{
color: var(--brand-color);
}
.different{
text-decoration-line: underline;
}
.tcity-nav{
padding-top:60px;
padding-bottom: 60px;
}
.logo-12{
text-decoration: none;
display: block;
width: 115px;
height: 31px;
padding-bottom:20px;
}
.navigation-city-1{
display:flex;
flex-direction: column;
gap:9px;
}