*,
*::before,
*::after {
  box-sizing: border-box;}

h1, h2, h2, p, ul{
margin: 0;
border: 0;
padding: 0;
font-size: 100%;
font:inherit;
}
ul{
list-style:none;
}

body{
    font-family: 'Roboto', sans-serif, 'Raleway', sans-serif;
    color:#212121;
}

:root {
    --brand-color:#2196F3;
    --primary-color: #ffffff;
}
.headering{
    background-color: #ECECEC;
    width: 1600px;
    height: 80px;
    display:flex;
}

.logo{
    text-decoration: none;
    display: flex;
    width: 115px;
    height: 31px;
    margin:24px 93px 25px 215px;
}
.web{
font-family: 'Raleway', sans-serif;
font-size: 26px ;
font-weight: 700 ;
color: var(--brand-color);
line-height: 1.2;
letter-spacing: 0.03em;
text-align: left;
}

.studio{
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
text-align: left;
color:#000000;
}

.studio-2{
font-family: 'Raleway', sans-serif;
color: var(--primary-color);
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
text-align: left;
}

.list {
list-style-type: none;

}

.navigation{
font-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;
text-decoration: none;
color:#212121
}

.navigation:hover, .navigation:focus, 
.kontakt:hover, .kontakt:focus{
color: var(--brand-color);
}

.kontakt{
font-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;
text-decoration: none;
color: #757575;
}

.theme{
background-color: #2F303A;

}

.theme-button{
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding-block: 200px;
}

.theme-1{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
color: var(--primary-color);  
}

.button-1{
background-color: var(--brand-color);
display: block;
font-family: inherit;
height: 50px;
width: 200;
border: 2px solid var(--brand-color);
color: var(--primary-color);
border-radius: 4px;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
cursor: pointer;
align-items: center;
text-align:center;
}

.invisible{
display:none;
}

.lorem1{
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
}

.lorem2{
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #757575;
}

.part-1{
font-size: 36px;
line-height: 1.12;
text-align: center;
letter-spacing: 0.03em;

}


.name{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.position-1{
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #757575;
}

.navigation-2{
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
text-decoration: none;
}
.city{
color:var(--primary-color);
}
.city-1 {
color:rgba(255, 255, 255, 0.6);
}
.city-1:hover, .city-1:focus{
color: var(--brand-color);
}
.different{
text-decoration-line: underline;
}
.name-2{
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
text-align: left;
}

.position-2{
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
text-align: left;
}

.button-2{
background-color:#F5F4FA ;
font-family: inherit;
height: 38px;
width: 114;
border: 1px solid #F5F4FA;
font-family: inherit;
text-align: center;
border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
cursor: pointer;  
}

.button-2:hover, .button-2:focus{
background-color: var(--brand-color);
color:var(--primary-color);
} 
.container{
width: 100%;
max-width: 1200px;
padding: 0 15px;
margin:0 auto;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.wrapper-1{
display:flex;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid #EEEEEE;
}

.nav-list-1{
display:flex;
list-style: none;
justify-content: space-between;
width: 224px;
height:16px;
margin:24px  25px;
}
.nav-list-2{
display:flex;
justify-content: space-between; 
margin:
}

.lorem-list{
display:flex;
align-items: center;
margin-left:200px;
margin-right: 200px;
}


.what-we-do{
display:block;
text-align: center;
margin-bottom: 50px;
}
.list-part-1{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 200px;}

.picture-1{
    margin-right: 30px;
}
 
.wrapper-2{
    background-color: #F5F4FA; 

}
.list-part-2{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.our-team{
    display:block;
    text-align: center;
    padding-top:50px;
    padding-bottom: 94px;
}
.pictures-3{
width:270px;
height:368px;
background-color: F5F4FA;
border-bottom-left-radius: 2%;
border-bottom-right-radius: 2%;
box-shadow: 0px 1px 2px 1px #757575;
}
.name-position{
text-align: center;
}